<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Display 3D Model with Texture</title>
  <style>
    #modelContainer {
      width: 100%;
      height: 500px;
    }
  </style>
</head>
<body>
  <div id="modelContainer"></div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/loaders/OBJLoader.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/loaders/MTLLoader.min.js"></script>
  <script>
    // Path to your 3D model and MTL file
    const modelPath = '../3D_model/untitled.obj';
    const mtlPath = '../3D_model/untitled.mtl';

    function renderModel() {
      const scene = new THREE.Scene();
      const camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 1, 1000);

      const renderer = new THREE.WebGLRenderer();
      renderer.setSize(window.innerWidth, window.innerHeight);
      document.getElementById('modelContainer').appendChild(renderer.domElement);

      const spotLight = new THREE.SpotLight(0xffffff, 3000, 100, 0.22, 1);
        spotLight.position.set(0, 25, 0);
        spotLight.castShadow = true;
        spotLight.shadow.bias = -0.0001;
        scene.add(spotLight);

      const loader = new THREE.OBJLoader();
      const mtlLoader = new THREE.MTLLoader();
      mtlLoader.load(mtlPath, function (materials) {
        materials.preload();
        loader.setMaterials(materials);
        loader.load(modelPath, function (object) {
          scene.add(object);
        });
      });

      camera.position.z = -50;

      // Log camera position
      console.log("Initial Camera Position:", camera.position);

      function animate() {
        requestAnimationFrame(animate);
        renderer.render(scene, camera);
      }

      animate();
    }

    // Call the function to render the model
    renderModel();
  </script>
</body>
</html>
