<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spacey</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="style2.css">
    <link rel="stylesheet" href="style3.css">
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <header>
        <h2 class="logo">LOgo</h2>
        <nav class="navigation">
            <a href="#">Home</a>
            <a href="#">Our Team</a>
            <a href="./dashSpaceship.php">News</a>
            <a href="#">Contact</a>
        </nav>
    </header>
    
    
   
    
    <canvas id="bg"></canvas>
    <div class="actionButton" id="bb1">hello</div>
    
        <div id="floatingText1">welcome to spacey 
            where every thing is possible
        </div>
    
    <div id="container">
        <img id="floatingImage" src="https://via.placeholder.com/100" alt="Floating Image">
    </div>
    
    <div class="carousel">
        <!-- list item -->
        <div class="list">
            <div class="item">
                <img src="../image/banner.png">
                <div class="content">
                    <div class="author">LUNDEV</div>
                    <div class="title">DESIGN SLIDER</div>
                    <div class="topic">ANIMAL</div>
                    <div class="des">
                        <!-- lorem 50 -->
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut sequi, rem magnam nesciunt minima placeat, itaque eum neque officiis unde, eaque optio ratione aliquid assumenda facere ab et quasi ducimus aut doloribus non numquam. Explicabo, laboriosam nisi reprehenderit tempora at laborum natus unde. Ut, exercitationem eum aperiam illo illum laudantium?
                    </div>
                    <div class="buttons">
                        <button>SEE MORE</button>
                        <button>SUBSCRIBE</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="../image/aa2.png">
                <div class="content">
                    <div class="author">LUNDEV</div>
                    <div class="title">DESIGN SLIDER</div>
                    <div class="topic">ANIMAL</div>
                    <div class="des">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut sequi, rem magnam nesciunt minima placeat, itaque eum neque officiis unde, eaque optio ratione aliquid assumenda facere ab et quasi ducimus aut doloribus non numquam. Explicabo, laboriosam nisi reprehenderit tempora at laborum natus unde. Ut, exercitationem eum aperiam illo illum laudantium?
                    </div>
                    <div class="buttons">
                        <button>SEE MORE</button>
                        <button>SUBSCRIBE</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="../image/98.png">
                <div class="content">
                    <div class="author">LUNDEV</div>
                    <div class="title">DESIGN SLIDER</div>
                    <div class="topic">ANIMAL</div>
                    <div class="des">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut sequi, rem magnam nesciunt minima placeat, itaque eum neque officiis unde, eaque optio ratione aliquid assumenda facere ab et quasi ducimus aut doloribus non numquam. Explicabo, laboriosam nisi reprehenderit tempora at laborum natus unde. Ut, exercitationem eum aperiam illo illum laudantium?
                    </div>
                    <div class="buttons">
                        <button>SEE MORE</button>
                        <button>SUBSCRIBE</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="../image/img4.jpg">
                <div class="content">
                    <div class="author">LUNDEV</div>
                    <div class="title">DESIGN SLIDER</div>
                    <div class="topic">ANIMAL</div>
                    <div class="des">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut sequi, rem magnam nesciunt minima placeat, itaque eum neque officiis unde, eaque optio ratione aliquid assumenda facere ab et quasi ducimus aut doloribus non numquam. Explicabo, laboriosam nisi reprehenderit tempora at laborum natus unde. Ut, exercitationem eum aperiam illo illum laudantium?
                    </div>
                    <div class="buttons">
                        <button>SEE MORE</button>
                        <button>SUBSCRIBE</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- list thumnail -->
        <div class="thumbnail">
            <div class="item">
                <img src="../image/banner.png">
                <div class="content">
                    <div class="title">
                        Name Slider
                    </div>
                    <div class="description">
                        Description
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="../image/aa2.png">
                <div class="content">
                    <div class="title">
                        Name Slider
                    </div>
                    <div class="description">
                        Description
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="../image/98.png">
                <div class="content">
                    <div class="title">
                        Name Slider
                    </div>
                    <div class="description">
                        Description
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="../image/img4.jpg">
                <div class="content">
                    <div class="title">
                        Name Slider
                    </div>
                    <div class="description">
                        Description
                    </div>
                </div>
            </div>
        </div>
        <!-- next prev -->

        <div class="arrows">
            <button id="prev"></button>
            <button id="next">></button>
        </div>
        <!-- time running -->
        <div class="time"></div>
    </div>

    
    <script src="imagss.js"></script>

    <script src="app.js"></script>
    <script type="module" src="script.js"></script>

    <canvas id="bg3"></canvas>
    <script type="module" src="script2.js"></script>
    

    
        
        <section class="review-container">
            <div class="title-section">
                <h2>Happy Customer Reviews</h2>
                <div class="underline"></div>
            </div>
            <article class="custom-review">
                <div class="review-img-container">
                    <img src="https://images.unsplash.com/photo-1568044852337-9bcc3378fc3c?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYyODA4Nzc4OA&ixlib=rb-1.2.1&q=85"
                        id="person-img" alt="" />
                </div>
                <h4 id="review-author">John Doe</h4>
                <p id="review-job">Customer</p>
                <p id="review-info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto asperiores debitis incidunt, eius earum ipsam cupiditate libero? Iste, doloremque nihil?
                </p>
                <div class="button-container">
                    <button class="prev-review-btn">
                        <i class="fas fa-chevron-left"></i>
                    </button>
                    <button class="next-review-btn">
                        <i class="fas fa-chevron-right"></i>
                    </button>
                </div>
                <button class="random-review-btn">Surprise Me</button>
            </article>
        </section>
    
    <script src="script3.js"></script>
    


    <canvas id="bg2"></canvas>
    <div class="event-container">
        <h3 class="year">2020</h3>
  
        <div class="event">
          <div class="event-left">
            <div class="event-date">
              <div class="date">8</div>
              <div class="month">Nov</div>
            </div>
          </div>
  
          <div class="event-right">
            <h3 class="event-title">Some Title Here</h3>
  
            <div class="event-description">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus,
              ratione.
            </div>
  
            <div class="event-timing">
              <img src="../image/time.png" alt="" /> 10:00 am
            </div>
          </div>
        </div>
  
        <div class="event">
          <div class="event-left">
            <div class="event-date">
              <div class="date">22</div>
              <div class="month">Dec</div>
            </div>
          </div>
  
          <div class="event-right">
            <h3 class="event-title">Some Title Here</h3>
  
            <div class="event-description">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus,
              ratione.
            </div>
  
            <div class="event-timing">
              <img src="../image/time.png" alt="" /> 10:45 am
            </div>
          </div>
        </div>
        <div class="event">
            <div class="event-left">
              <div class="event-date">
                <div class="date">22</div>
                <div class="month">Dec</div>
              </div>
            </div>
    
            <div class="event-right">
              <h3 class="event-title">Some Title Here</h3>
    
              <div class="event-description">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus,
                ratione.
              </div>
    
              <div class="event-timing">
                <img src="../image/time.png" alt="" /> 10:45 am
              </div>
            </div>
          </div>
  
        
      
      <script type="module" src="script2.js"></script>
    </div>

    
    

   
   
    
</body>

</html>
 