<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Assurance</title>
</head>
<body>
    <form action="displayassur.php" method="POST">
        <table border="1" align="center">
            <tr>
                <td>
                    <label for="idx">Type your ID:</label>
                </td>
                <td><input type="number" name="idx" id="idx"></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>
</body>
</html>
